<!-- Footer -->
<footer class="py-5 bg-dark" style = "height: 30px;">
   <div class="container">
     <p class="m-0 text-center text-white">
         Copyright &copy; Patient Allocation System, IS4302 Project Group 2, AY2019/2020</p>
   </div>
   <!-- /.container -->
 </footer>
